{% extends "index.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="static/style.css">
</head>

<div class="container">
    <div id="newtask">
        <form method="POST" action="/tasks/new">
            {{ form.hidden_tag() }}
            {{ form.content(placeholder="Task to be done..") }}
            <button id="push">Add</button>
        </form>
    </div>
    <div id="tasks">
        {% if tasks.count() > 0 %}
        {% for task in tasks %}
            <div class="task">
                <span>{{ task.content }}</span>
                <form action="/tasks/{{task.id}}/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete task {{task.id}}?');"><button>Delete</button></form>
            </div>
        {% endfor %}
        {% else %}
        <div class="task">
            <span><em>No tasks yet. Add one above!</em></span>
        </div>
        {% endif %}
    </div>

    <span id="footer">Signed in as {{ current_user.username }}. <a href="/logout">Sign out</a></span>
</div>
{% endblock %}